.titulo{
    text-align: center;
}.ancho{
    width: 20rem;
    display: flex;

}
.flex{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;

}

 main{
    min-height: 100vh;
 }

 .filtros{filter: grayscale(60%);

 }
 .filtros:hover{
    filter: grayscale(0);
    transition: 800ms;
 }
 


@media all and (max-width:767px){
    .banner{
        height: 270px;
        object-fit: cover;
    }
}
